<%# Simple Turnstile challenge page. Requires TURNSTILE_SITEKEY env var. %>
<h1>Prove you're not a bot</h1>
<p>To continue, please complete the challenge below.</p>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<%= form_with url: turnstile_verify_path, method: :post, local: true do |form| %>
  <%= form.hidden_field :return_to, value: @return_to %>
  <div class="cf-turnstile" data-sitekey="<%= @sitekey %>"></div>
  <br />
  <%= form.submit 'Submit', class: 'btn button-primary' %>
<% end %>
