<%= content_for(:title, index_page_title) %>

<main class="space-wrap">
  <%= render partial: "shared/site_title" %>
  <%= render partial: "search/form_geo" if Flipflop.enabled?(:gdt) %>
  <%= render partial: "static/about" if ENV.fetch('ABOUT_APP', nil) %>
</main>
