<% return unless @enhanced_query[:doi].present? %>

<% data_url = "/doi?doi=#{URI.encode_www_form_component(@enhanced_query[:doi])}" %>

<div id="doi-fact"
     class="fact"
     data-controller="content-loader"
     data-content-loader-url-value=<%= data_url %>>
</div>
