<div class="category">
  <h3><%= facet[0] %></h3>
  <ul class="category-terms list-unbulleted">
  <% facet[1].each do |term| %>
    <li class="term">
      <span class="name"><%= term['key'] %></span>
      <span class="count"><%= term['docCount'] %></span>
    </li>
  <% end %>
  </ul>
</div>
