<% highlights = trim_highlights(result) %>
<% return unless highlights&.any? %>

<h3 class="hd-6">Other fields matching your search:</h3>
<ul class="list-unbulleted truncate-list">
  <% highlights.each do |h| %>
    <% h['matchedPhrases'].each do |phrase| %>
      <li><strong><%= h['matchedField'] %>:</strong> <%= sanitize(phrase, tags: ['span']) %></li>
    <% end %>
  <% end %>
</ul>
