<aside class="nls-alert">
  <i class="fa-regular fa-circle-exclamation"></i>
  <p>Natural language search is not available for these results <%= link_to "Learn more", about_natural_language_search_path, data: { turbo_frame: "_top" } %></p>
</aside>
