<div class="no-results use">
  <h2>No results were found</h2>
  <p>Check the spelling of your search terms, try a less specific search, or <a href="http://libraries.mit.edu/ask">Ask us</a> for help.</p>
</div>