<div class="no-results use">
  <h2>No results were found</h2>
  <p>Any misspellings in your search terms?</p>

  <p>Even if we don't own it, we can often get it for you:</p>
  <ul>
    <li>Articles: Request via <a href="https://libraries.mit.edu/illiad">ILLiad</a>
    <li>Books, physical materials: Search <a href="https://mit.on.worldcat.org/">WorldCat</a> and submit a request. 
  </ul>

  <p>A specialized or advanced search may work better:</p>
  <ul>
    <li><a href="https://libraries.mit.edu/search-collections">Search our Collections</a>: MIT Libraries catalog
    <li><a href="https://libguides.mit.edu/az.php">A-Z Databases</a>: Browse or search for databases.
    <li><a href="http://archivesspace.mit.edu/">ArchivesSpace</a>: Archives and manuscripts in our Distinctive Collections.
    <li><a href="https://libraries.mit.edu/dspace">DSpace@MIT</a>: MIT theses, articles and other research materials.
    <li><a href="https://geodata.libraries.mit.edu/">GeoData</a>: GIS/spatial data available at MIT.
    <li><a href="https://libraries.mit.edu/experts">Subject guides</a>: Created by our librarians for targeted research by subject.
  </ul>

  <p><a href="http://libraries.mit.edu/ask">Ask Us</a> for more help!</p>
</div>