<% return if @pagination.nil? %>

<div class="gridband layout-3c">
  <div class="grid-item box-content">
    <% if @pagination[:prev] %>
      <%= prev_url(@enhanced_query) %>
    <% else %>
      First page
    <% end %>
  </div>
  <div class="grid-item box-content">Page <%= @pagination[:page] %> of <%= (@pagination[:hits] / 20) + 1 %></div>
  <div class="grid-item box-content">
    <% if @pagination[:next] %>
      <%= next_url(@enhanced_query) %>
    <% else %>
      Last page
    <% end %>
  </div>
</div>
