<div class="primo-continuation">
  <h2>You have reached the limit for these search results.</h2>
  <p>
    Use the links below for advanced search or browse options. <a href="https://libraries.mit.edu/ask/">Ask us</a> for help.
  </p>
  <div>
  <%= render partial: "results_callouts" %>
  </div>
</div>
