<div class="primo-continuation">
  <h2 class="hd-3">Continue your search in Search Our Collections</h2>
  <p>
    You've reached the pagination limit for embedded search results. To see more results and access 
    additional search features, continue your search in the full Search Our Collections interface.
  </p>
  <div>
    <%= link_to "Continue in Search Our Collections", 
        primo_search_url(@enhanced_query[:q]), 
        class: "button-primary", 
        rel: "nofollow" %>
  </div>
</div>
