<aside id="results-sidebar">
  <div>
    <i class="fa-light fa-message"></i>
    <div>
      <h4>Were these results useful?</h4>
      <p>Your feedback can help shape the quality and relevance of our search results.</p>
      <a href="https://libraries.mit.edu/use-feedback">Send feedback</a>
    </div>
  </div>
  <div>
    <i class="fa-light fa-user"></i>
    <div>
      <h4>Need help?</h4>
      <p>Via chat, email, or consultations, we'll help you find and access what you need.</p>
      <a href="https://libraries.mit.edu/ask/">Ask us</a>
    </div>
  </div>
</aside>