<div id="callout-wrapper">
  <aside class="result-callout">
    <i class="fa-light fa-magnifying-glass"></i>
    <div>
      <h4>Refine your search</h4>
      <p>Use advanced search features to expand or filter your search.</p>
      <a href="#">Search Primo</a>
    </div>
  </aside>
  <aside class="result-callout">
    <i class="fa-light fa-book"></i>
    <div>
      <h4>Can’t find a book?</h4>
      <p>If we don’t own it you can often request it from another library.</p>
      <a href="#">Search WorldCat</a>
    </div>
  </aside>
</div>