<aside id="results-sidebar">
  <div>
    <i></i>
    <div>
      <h4>Were these results useful?</h4>
      <p>Your feedback can help shape the quality and relevance of our search results.</p>
      <a href="#">Send feedback</a>
    </div>
  </div>
  <div>
    <i></i>
    <div>
      <h4>Get help from expert librarians</h4>
      <p>From thesis research to course reserves, we can help you find what you need.</p>
      <a href="#">Ask us</a>
    </div>
  </div>
</aside>