<% return unless params[:q].present? %>

<aside class="search-summary">
  <div class="list-terms-summary">
    <h2 class="hd-search-summary hd-5">You searched for: <%= params[:q] %></h2>
  </div>
</aside>