  <!-- Tab Navigation -->
  <div id="tabs" class="tab-navigation top-space">
    <%= link_to "Primo", results_path(params.permit(:q, :per_page, :page).merge(tab: 'primo')), 
                class: "tab-link #{'active' if @active_tab == 'primo'}", 
                data: { turbo_frame: "search-results", turbo_action: "advance" } %>
    <%= link_to "TIMDEX", results_path(params.permit(:q, :per_page, :page).merge(tab: 'timdex')), 
                class: "tab-link #{'active' if @active_tab == 'timdex'}", 
                data: { turbo_frame: "search-results", turbo_action: "advance" } %>
  </div>
  