  <!-- Tab Navigation -->
  <nav id="tabs" class="tab-navigation" aria-label="Result type navigation">
    <ul>
      <li><%= link_to_tab("All") %></li>
      <li><%= link_to_tab("Primo") %></li>
      <li><%= link_to_tab("TIMDEX") %></li>
    </ul>
  </nav>
  