<% return unless AlmaSru.enabled? %>

<% data_url = "/almasru?doc_id=#{doc_id}" %>

<span class="availability-container"
  data-controller="content-loader"
  data-content-loader-url-value=<%= data_url %>>
    <span class="skeleton-loader">&nbsp;</span>
</span>
