<% return unless ThirdIron.enabled? %>

<% query_params = { type: kind, identifier: identifier } %>
<% query_params[:format] = format if format.present? %>
<% data_url = "/libkey?#{query_params.to_query}" %>

<span class="libkey-container"
     data-controller="content-loader"
     data-content-loader-url-value=<%= data_url %>>
     <span class="skeleton-loader">&nbsp;</span>
</span>
