<% return unless ThirdIron.enabled? %>

<% query_params = { issn: issn } %>
<% query_params[:full_record_url] = full_record_url if full_record_url.present? %>
<% data_url = "/browzine?#{query_params.to_query}" %>

<span class="libkey-container"
     data-controller="content-loader"
     data-content-loader-url-value=<%= data_url %>>
     <span class="skeleton-loader">&nbsp;</span>
</span>
