<% return unless Libkey.enabled? %>

<% data_url = "/lookup?type=#{kind}&identifier=#{identifier}" %>

<span class="tacos-container"
     data-controller="content-loader"
     data-content-loader-url-value=<%= data_url %>>
     <span style="background-color:lightgray;
                  display: inline-block;
                  font-size: 1.6rem;
                  font-weight: 500;
                  margin-right: 16px;
                  min-width: 120px;">&nbsp;</span>
</span>
