---
http_interactions:
- request:
    method: get
    uri: https://mit.alma.exlibrisgroup.com/view/sru/01MIT_INST?operation=searchRetrieve&query=alma.all_for_ui=990014651640106761&recordSchema=marcxml&version=1.2
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8" standalone="no"?><searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/">
          <version>1.2</version>
          <numberOfRecords>1</numberOfRecords>
          <records>
            <record>
              <recordSchema>marcxml</recordSchema>
              <recordPacking>xml</recordPacking>
              <recordData>
                <record xmlns="http://www.loc.gov/MARC21/slim">
                  <leader>02275cam  22005654a 4500</leader>
                  <controlfield tag="001">990014651640106761</controlfield>
                  <controlfield tag="005">20241127214106.0</controlfield>
                  <controlfield tag="008">060915s2007    mauae    b    000 0deng^^</controlfield>
                  <datafield ind1=" " ind2=" " tag="010">
                    <subfield code="a">2006030939</subfield>
                  </datafield>
                  <datafield ind1=" " ind2=" " tag="015">
                    <subfield code="a">GBA724048</subfield>
                    <subfield code="2">bnb</subfield>
                  </datafield>
                  <datafield ind1="7" ind2=" " tag="016">
                    <subfield code="a">013704232</subfield>
                    <subfield code="2">Uk</subfield>
                  </datafield>
                  <datafield ind1[...]
