---
http_interactions:
- request:
    method: get
    uri: https://mit.alma.exlibrisgroup.com/view/sru/01MIT_INST?operation=searchRetrieve&query=alma.all_for_ui=9935053423706761&recordSchema=marcxml&version=1.2
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8" standalone="no"?><searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/">
          <version>1.2</version>
          <numberOfRecords>1</numberOfRecords>
          <records>
            <record>
              <recordSchema>marcxml</recordSchema>
              <recordPacking>xml</recordPacking>
              <recordData>
                <record xmlns="http://www.loc.gov/MARC21/slim">
                  <leader>03192 am a2200565   4500</leader>
                  <controlfield tag="001">9935053423706761</controlfield>
                  <controlfield tag="005">20170117</controlfield>
                  <controlfield tag="006">m     o  d</controlfield>
                  <controlfield tag="007">cu ||||||m||||</controlfield>
                  <controlfield tag="008">171205e2017||||xx |||||o|||||||||0|fre|d</controlfield>
                  <datafield ind1=" " ind2=" " tag="020">
                    <subfield code="a">2-917902-69-8</subfield>
                  </datafield>
                  <datafield ind1="7" ind2=" " tag="024">
                    <subfield code="a">10.4000/books.inha.12276</subfield>
                    <subfield code="2">doi</subfield>
                  </datafield>
                  <datafield ind1=" " ind2=" " tag="035">
                    <subfield code="a">(CKB)4100000009914036</subfield>
                  </datafield>
                  <datafield ind1=" " ind2=" " tag="035"[...]
