---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1087-5549
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1713841010460,"counts":{"current-dois":81,"backfile-dois":702,"total-dois":783},"breakdowns":{"dois-by-issued-year":[[2021,59],[2019,37],[2023,35],[2020,34],[2018,34],[2015,34],[2014,34],[2008,34],[2016,32],[2011,30],[2009,29],[2012,28],[2007,27],[2005,27],[2004,27],[2013,26],[2010,26],[2022,25],[2002,25],[2001,25],[2003,24],[1998,23],[2024,21],[2000,20],[2006,19],[1999,19],[2017,15],[1997,14]]},"publisher":"Informa
        UK (Taylor & Francis)","coverage":{"affiliations-current":0.9876543209876543,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.1082621082621083,"licenses-backfile":0.005698005698005698,"funders-current":0.345679012345679,"affiliations-backfile":0.3361823361823362,"resource-links-backfile":0.0,"orcids-backfile":0.1168091168091168,"update-policies-current":1.0,"ror-ids-backfile":0.0,"orcids-current":0.5802469135802469,"similarity-checking-backfile":0.9985754985754987,"references-backfile":0.915954415954416,"descriptions-backfile":0.0,"award-numbers-backfile":0.07122507122507123,"update-policies-backfile":0.3974358974358974,"licenses-current":0.02469135802469136,"award-numbers-current":0.1851851851851852,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"references-current":0.9876543209876543},"title":"Journal
        of Poverty","subjects":[],"coverage-type":{"all":{"last-status-check-time":1713841010460,"affiliations":0.4035759897828863,"abstracts":0.0,"orcids":0.1647509578544061,"licenses":0.007662835249042146,"references":0.9233716475095785,"funders":0.1328224776500639,"similarity-checking":0.9987228607918263,"award-numbers":0.08301404853128991,"ror-ids":0.0,"update-policies":0.4597701149425287,"resource-links":0.0,"descriptions":0.0},"backfile":{"last-status-check-time":1713841010460,"affiliations":0.3361823361823362,"abstracts":0.0,"orcids":0.1168091168091168,"licenses":0.005698005698005698,"references":0.915954415954416,"funders":0.1082621082621083,"similarity-checking":0.9985754985754987,"award-numbers":0.07122507122507123,"ror-ids":0.0,"update-policies":0.3974358974358974,"resource-links":0.0,"descriptions":0.0},"current":{"last-status-check-time":1713841010460,"affiliations":0.9876543209876543,"abstracts":0.0,"orcids":0.5802469135802469,"licenses":0.02469135802469136,"references":0.9876543209876543,"funders":0.345679012345679,"similarity-checking":1.0,"award-numbers":0.1851851851851852,"ror-ids":0.0,"update-policies":1.0,"resource-links":0.0,"descriptions":0.0}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":false,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":false,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1087-5549","1540-7608"],"issn-type":[{"value":"1087-5549","type":"print"},{"value":"1540-7608","type":"electronic"}]}}'
  recorded_at: Thu, 25 Apr 2024 20:57:11 GMT
recorded_with: VCR 6.2.0
