---
http_interactions:
- request:
    method: get
    uri: https://api.unpaywall.org/v2/10.1126/sciadv.abj1076?email=timdex@mit.edu
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"doi": "10.1126/sciadv.abj1076", "doi_url": "https://doi.org/10.1126/sciadv.abj1076",
        "title": "Weyl Fermion magneto-electrodynamics and ultralow field quantum
        limit in TaAs", "genre": "journal-article", "is_paratext": false, "published_date":
        "2022-01-14", "year": 2022, "journal_name": "Science Advances", "journal_issns":
        "2375-2548", "journal_issn_l": "2375-2548", "journal_is_oa": true, "journal_is_in_doaj":
        true, "publisher": "American Association for the Advancement of Science (AAAS)",
        "is_oa": true, "oa_status": "green", "has_repository_copy": true, "best_oa_location":
        {"updated": "2022-04-22T12:04:36.250191", "url": "https://dspace.mit.edu/bitstream/1721.1/141955/2/sciadv.abj1076.pdf",
        "url_for_pdf": "https://dspace.mit.edu/bitstream/1721.1/141955/2/sciadv.abj1076.pdf",
        "url_for_landing_page": "https://hdl.handle.net/1721.1/141955", "evidence":
        "oa repository (via OAI-PMH doi match)", "license": "cc-by", "version": "publishedVersion",
        "host_type": "repository", "is_best": true, "pmh_id": "oai:dspace.mit.edu:1721.1/141955",
        "endpoint_id": "a996c19dace9d4ac72d", "repository_institution": "Massachusetts
        Institute of Technology - DSpace@MIT", "oa_date": "2022-04-20"}, "first_oa_location":
        {"updated": "2022-05-06T03:12:16.943621", "url": "http://arxiv.org/pdf/2111.06182",
        "url_for_pdf": "http://arxiv.org/pdf/2111.06182", "url_for_landing_page":
        "http://arxiv.org/abs/2111.06182", "evidence": "oa repository (via OAI-PMH
        title and first author match)", "license": null, "version": "submittedVersion",
        "host_type": "repository", "is_best": false, "pmh_id": "oai:arXiv.org:2111.06182",
        "endpoint_id": "ca8f8d56758a80a4f86", "repository_institution": "Cornell University
        - arXiv", "oa_date": "2021-11-12"}, "oa_locations": [{"updated": "2022-04-22T12:04:36.250191",
        "url": "https://dspace.mit.edu/bitstream/1721.1/141955/2/sciadv.abj1076.pdf",
        "url_for_pdf": "https://dspace.mit.edu/bitstream/1721.1/141955/2/sciadv.abj1076.pdf",
        "url_for_landing_page": "https://hdl.handle.net/1721.1/141955", "evidence":
        "oa repository (via OAI-PMH doi match)", "license": "cc-by", "version": "publishedVersion",
        "host_type": "repository", "is_best": true, "pmh_id": "oai:dspace.mit.edu:1721.1/141[...]
