---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1038/nphys1170
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,1]],"date-time":"2022-04-01T05:13:35Z","timestamp":1648790015559},"reference-count":10,"publisher":"Springer
        Science and Business Media LLC","issue":"1","license":[{"start":{"date-parts":[[2009,1,1]],"date-time":"2009-01-01T00:00:00Z","timestamp":1230768000000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Nature
        Phys"],"published-print":{"date-parts":[[2009,1]]},"DOI":"10.1038\/nphys1170","type":"journal-article","created":{"date-parts":[[2009,1,3]],"date-time":"2009-01-03T10:16:57Z","timestamp":1230977817000},"page":"11-12","source":"Crossref","is-referenced-by-count":9,"title":["Measured
        measurement"],"prefix":"10.1038","volume":"5","author":[{"given":"Markus","family":"Aspelmeyer","sequence":"first","affiliation":[]}],"member":"297","reference":[{"key":"BFnphys1170_CR1","doi-asserted-by":"publisher","first-page":"27","DOI":"10.1038\/nphys1133","volume":"5","author":"JS
        Lundeen","year":"2009","unstructured":"Lundeen, J. S. et al. Nature Phys.
        5, 27\u201330 (2009).","journal-title":"Nature Phys."},{"key":"BFnphys1170_CR2","volume-title":"Der
        Teil und das Ganze","author":"W Heisenberg","year":"1969","unstructured":"Heisenberg,
        W. Der Teil und das Ganze (Piper, Munich, 1969)."},{"key":"BFnphys1170_CR3","doi-asserted-by":"publisher","volume-title":"Quantum
        State Estimation","author":"MGA Paris","year":"2004","unstructured":"Paris,
        M. G. A. & Rehacek, J. (eds) Quantum State Estimation (Lecture Notes in Physics
        Vol. 649) (Springer, 2004).","DOI":"10.1007\/b98673"},{"key":"BFnphys1170_CR4","doi[...]
