---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/isbn/9780399563423.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html
      Location:
      - https://openlibrary.org/books/OL33871061M.json
      X-Ol-Stats:
      - '"IB 1 0.058 MC 1 0.001 TT 0 0.059"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 25 Apr 2024 20:57:11 GMT
- request:
    method: get
    uri: https://openlibrary.org/books/OL33871061M.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.006"'
    body:
      encoding: UTF-8
      string: '{"type": {"key": "/type/edition"}, "title": "The Morning Star", "authors":
        [{"key": "/authors/OL7890928A"}, {"key": "/authors/OL5677432A"}], "publish_date":
        "Sep 28, 2021", "source_records": ["amazon:0399563423", "bwb:9780399563423",
        "promise:bwb_daily_pallets_2022-03-17", "marc:marc_columbia/Columbia-extract-20221130-032.mrc:96978072:3294"],
        "number_of_pages": 688, "publishers": ["Penguin Press"], "isbn_10": ["0399563423"],
        "isbn_13": ["9780399563423"], "physical_format": "hardcover", "full_title":
        "The Morning Star A Novel", "subtitle": "A Novel", "notes": {"type": "/type/text",
        "value": "Source title: The Morning Star: A Novel"}, "covers": [11984452],
        "works": [{"key": "/works/OL25282920W"}], "key": "/books/OL33871061M", "local_id":
        ["urn:bwbsku:W7-AHG-743"], "lccn": ["2021033640"], "lc_classifications": ["PT8951.21.N38
        M6713 2021"], "oclc_numbers": ["1246727255"], "latest_revision": 4, "revision":
        4, "created": {"type": "/type/datetime", "value": "2021-09-22T15:39:22.535196"},
        "last_modified": {"type": "/type/datetime", "value": "2022-12-12T05:54:10.680099"}}'
  recorded_at: Thu, 25 Apr 2024 20:57:11 GMT
- request:
    method: get
    uri: https://openlibrary.org/authors/OL7890928A.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.004"'
    body:
      encoding: UTF-8
      string: '{"remote_ids": {"viaf": "84253903", "wikidata": "Q609317", "isni":
        "0000000078377853"}, "type": {"key": "/type/author"}, "birth_date": "1968",
        "source_records": ["amazon:6055159821"], "alternate_names": ["Karl Ove Knausgard",
        "Karl Ove Knausgaard", "Karl Ove Knausg\u00e5rd", "Karl Ove Knausgaard;Fredrik
        Ekelund"], "name": "Karl Ove Knausgaard", "key": "/authors/OL7890928A", "personal_name":
        "Karl Ove Knausg\u00e5rd", "latest_revision": 2, "revision": 2, "created":
        {"type": "/type/datetime", "value": "2020-05-14T23:00:03.230088"}, "last_modified":
        {"type": "/type/datetime", "value": "2022-12-20T23:48:18.761353"}}'
  recorded_at: Thu, 25 Apr 2024 20:57:12 GMT
- request:
    method: get
    uri: https://openlibrary.org/authors/OL5677432A.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.008"'
    body:
      encoding: UTF-8
      string: '{"name": "Martin Aitken", "created": {"type": "/type/datetime", "value":
        "2008-10-21T10:38:45.493963"}, "personal_name": "Martin Aitken", "last_modified":
        {"type": "/type/datetime", "value": "2008-10-21T10:38:45.493963"}, "key":
        "/authors/OL5677432A", "type": {"key": "/type/author"}, "id": 29006126, "revision":
        1}'
  recorded_at: Thu, 25 Apr 2024 20:57:12 GMT
recorded_with: VCR 6.2.0
