---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1087-5549
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1657245258967,"counts":{"current-dois":105,"backfile-dois":609,"total-dois":714},"breakdowns":{"dois-by-issued-year":[[2021,59],[2019,37],[2020,34],[2018,34],[2015,34],[2014,34],[2008,34],[2016,32],[2011,30],[2009,29],[2012,28],[2007,27],[2005,27],[2004,27],[2013,26],[2010,26],[2002,25],[2001,25],[2003,24],[1998,23],[2000,20],[2006,19],[1999,19],[2017,15],[1997,14],[2022,12]]},"publisher":"Informa
        UK (Taylor & Francis)","coverage":{"affiliations-current":0.980952380952381,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.06732348111658457,"licenses-backfile":0.0,"funders-current":0.380952380952381,"affiliations-backfile":0.2380952380952381,"resource-links-backfile":0.0,"orcids-backfile":0.05747126436781609,"update-policies-current":1.0,"open-references-backfile":1.0,"ror-ids-backfile":0.0,"orcids-current":0.5333333333333333,"similarity-checking-backfile":0.9983579638752053,"references-backfile":0.90311986863711,"descriptions-backfile":0.0,"award-numbers-backfile":0.0541871921182266,"update-policies-backfile":0.3054187192118227,"licenses-current":0.02857142857142857,"award-numbers-current":0.1904761904761905,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"open-references-current":1.0,"references-current":1.0},"title":"Journal
        of Poverty","subjects":[{"ASJC":3312,"name":"Sociology and Political Science"},{"ASJC":3317,"name":"Demography"}],"coverage-type":{"all":{"last-status-check-time":1657245258967,"affiliations":0.3473389355742297,"abstracts":0.0,"orcids":0.1274509803921569,"licenses":0.004201680672268908,"references":0.9173669467787114,"funders":0.1134453781512605,"similarity-checking":0.9985994397759104,"award-numbers":0.0742296918767507,"ror-ids":0.0,"update-policies":0.407563025210084,"resource-links":0.0,"descriptions":0.0,"open-references":1.0},"backfile":{"last-status-check-time":1657245258967,"affiliations":0.2380952380952381,"abstracts":0.0,"orcids":0.05747126436781609,"licenses":0.0,"references":0.90311986863711,"funders":0.06732348111658457,"similarity-checking":0.9983579638752053,"award-numbers":0.0541871921182266,"ror-ids":0.0,"update-policies":0.3054187192118227,"resource-links":0.0,"descriptions":0.0,"open-references":1.0},"current":{"last-status-check-time":1657245258967,"affiliations":0.980952380952381,"abstracts":0.0,"orcids":0.5333333333333333,"licenses":0.02857142857142857,"references":1.0,"funders":0.380952380952381,"similarity-checking":1.0,"award-numbers":0.1904761904761905,"ror-ids":0.0,"update-policies":1.0,"resource-links":0.0,"descriptions":0.0,"open-references":1.0}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":false,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":true,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":false,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1087-5549","1540-7608"],"issn-type":[{"value":"1087-5549","type":"print"},{"value":"1540-7608","type":"electronic"}]}}'
  recorded_at: Fri, 08 Jul 2022 20:05:16 GMT
recorded_with: VCR 6.1.0
