---
http_interactions:
- request:
    method: get
    uri: https://api.unpaywall.org/v2/10.1126/sciadv.abj1076?email=timdex@mit.edu
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"doi": "10.1126/sciadv.abj1076", "doi_url": "https://doi.org/10.1126/sciadv.abj1076",
        "title": "Weyl Fermion magneto-electrodynamics and ultralow field quantum
        limit in TaAs", "genre": "journal-article", "is_paratext": false, "published_date":
        "2022-01-14", "year": 2022, "journal_name": "Science Advances", "journal_issns":
        "2375-2548", "journal_issn_l": "2375-2548", "journal_is_oa": true, "journal_is_in_doaj":
        true, "publisher": "American Association for the Advancement of Science (AAAS)",
        "is_oa": true, "oa_status": "gold", "has_repository_copy": true, "best_oa_location":
        {"updated": "2024-04-25T20:57:09.513636", "url": "https://www.science.org/doi/pdf/10.1126/sciadv.abj1076?download=true",
        "url_for_pdf": "https://www.science.org/doi/pdf/10.1126/sciadv.abj1076?download=true",
        "url_for_landing_page": "https://doi.org/10.1126/sciadv.abj1076", "evidence":
        "oa journal (via doaj)", "license": "cc-by-nc", "version": "publishedVersion",
        "host_type": "publisher", "is_best": true, "pmh_id": null, "endpoint_id":
        null, "repository_institution": null, "oa_date": "2022-01-14"}, "first_oa_location":
        {"updated": "2024-02-03T17:47:26.046370", "url": "https://arxiv.org/pdf/2111.06182",
        "url_for_pdf": "https://arxiv.org/pdf/2111.06182", "url_for_landing_page":
        "https://arxiv.org/abs/2111.06182", "evidence": "oa repository (via OAI-PMH
        title and first author match)", "license": null, "version": "submittedVersion",
        "host_type": "repository", "is_best": false, "pmh_id": "oai:arXiv.org:2111.06182",
        "endpoint_id": "ca8f8d56758a80a4f86", "repository_institution": "Cornell University
        - arXiv", "oa_date": "2021-11-12"}, "oa_locations": [{"updated": "2024-04-25T20:57:09.513636",
        "url": "https://www.science.org/doi/pdf/10.1126/sciadv.abj1076?download=true",
        "url_for_pdf": "https://www.science.org/doi/pdf/10.1126/sciadv.abj1076?download=true",
        "url_for_landing_page": "https://doi.org/10.1126/sciadv.abj1076", "evidence":
        "oa journal (via doaj)", "license": "cc-by-nc", "version": "publishedVersion",
        "host_type": "publisher", "is_best": true, "pmh_id": null, "endpoint_id":
        null, "repo[...]
