---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/isbn/9780399563423.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html
      Location:
      - https://openlibrary.org/books/OL33871061M.json
      X-Ol-Stats:
      - '"IB 1 0.031 MC 1 0.000 TT 0 0.032"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 07 Jul 2022 19:10:08 GMT
- request:
    method: get
    uri: https://openlibrary.org/books/OL33871061M.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.003"'
    body:
      encoding: UTF-8
      string: '{"type": {"key": "/type/edition"}, "title": "The Morning Star", "authors":
        [{"key": "/authors/OL7890928A"}, {"key": "/authors/OL5677432A"}], "publish_date":
        "Sep 28, 2021", "source_records": ["amazon:0399563423", "bwb:9780399563423"],
        "number_of_pages": 688, "publishers": ["Penguin Press"], "isbn_10": ["0399563423"],
        "isbn_13": ["9780399563423"], "physical_format": "hardcover", "full_title":
        "The Morning Star A Novel", "subtitle": "A Novel", "notes": {"type": "/type/text",
        "value": "Source title: The Morning Star: A Novel"}, "covers": [11984452],
        "works": [{"key": "/works/OL25282920W"}], "key": "/books/OL33871061M", "latest_revision":
        2, "revision": 2, "created": {"type": "/type/datetime", "value": "2021-09-22T15:39:22.535196"},
        "last_modified": {"type": "/type/datetime", "value": "2021-09-30T15:41:43.251630"}}'
  recorded_at: Thu, 07 Jul 2022 19:10:08 GMT
- request:
    method: get
    uri: https://openlibrary.org/authors/OL7890928A.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.002"'
    body:
      encoding: UTF-8
      string: '{"name": "Karl Ove Knausgaard", "created": {"type": "/type/datetime",
        "value": "2020-05-14T23:00:03.230088"}, "last_modified": {"type": "/type/datetime",
        "value": "2020-05-14T23:00:03.230088"}, "latest_revision": 1, "key": "/authors/OL7890928A",
        "type": {"key": "/type/author"}, "revision": 1}'
  recorded_at: Thu, 07 Jul 2022 19:10:09 GMT
- request:
    method: get
    uri: https://openlibrary.org/authors/OL5677432A.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.003"'
    body:
      encoding: UTF-8
      string: '{"name": "Martin Aitken", "created": {"type": "/type/datetime", "value":
        "2008-10-21T10:38:45.493963"}, "personal_name": "Martin Aitken", "last_modified":
        {"type": "/type/datetime", "value": "2008-10-21T10:38:45.493963"}, "key":
        "/authors/OL5677432A", "type": {"key": "/type/author"}, "id": 29006126, "revision":
        1}'
  recorded_at: Thu, 07 Jul 2022 19:10:09 GMT
recorded_with: VCR 6.1.0
