---
http_interactions:
- request:
    method: get
    uri: https://api.unpaywall.org/v2/10.1038/nphys1170?email=timdex@mit.edu
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"doi": "10.1038/nphys1170", "doi_url": "https://doi.org/10.1038/nphys1170",
        "title": "Measured measurement", "genre": "journal-article", "is_paratext":
        false, "published_date": "2009-01-01", "year": 2009, "journal_name": "Nature
        Physics", "journal_issns": "1745-2473,1745-2481", "journal_issn_l": "1745-2473",
        "journal_is_oa": false, "journal_is_in_doaj": false, "publisher": "Springer
        Science and Business Media LLC", "is_oa": false, "oa_status": "closed", "has_repository_copy":
        false, "best_oa_location": null, "first_oa_location": null, "oa_locations":
        [], "oa_locations_embargoed": [], "updated": "2021-04-01T04:17:18.585258",
        "data_standard": 2, "z_authors": [{"given": "Markus", "family": "Aspelmeyer",
        "sequence": "first"}]}'
  recorded_at: Fri, 29 Jul 2022 14:39:15 GMT
recorded_with: VCR 6.1.0
