---
http_interactions:
- request:
    method: get
    uri: https://public-api.thirdiron.com/public/v1/libraries/FAKE_THIRDIRON_ID/articles/pmid/22110403?access_token=FAKE_THIRDIRON_KEY
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1044-eDnlVGmO9KBtCy+GGTDdrzbkfxk"
      X-Ratelimit-Limit:
      - '7000'
      X-Ratelimit-Remaining:
      - '6998'
      X-Ratelimit-Reset:
      - '1765311970'
    body:
      encoding: UTF-8
      string: '{"data":{"id":22766308,"type":"articles","title":"Interplay between
        BRCA1 and RHAMM Regulates Epithelial Apicobasal Polarization and May Influence
        Risk of Breast Cancer","date":"2011-11-15","authors":"Maxwell, Christopher
        A.; Benítez, Javier; Gómez-Baldó, Laia; Osorio, Ana; Bonifaci, Núria; Fernández-Ramires,
        Ricardo; Costes, Sylvain V.; Guinó, Elisabet; Chen, Helen; Evans, Gareth J.
        R.; Mohan, Pooja; Català, Isabel; Petit, Anna; Aguilar, Helena; Villanueva,
        Alberto; Aytes, Alvaro; Serra-Musach, Jordi; Rennert, Gad; Lejbkowicz, Flavio;
        Peterlongo, Paolo; Manoukian, Siranoush; Peissel, Bernard; Ripamonti, Carla
        B.; Bonanni, Bernardo; Viel, Aless[...]
