---
http_interactions:
- request:
    method: get
    uri: https://api-na.hosted.exlibrisgroup.com/primo/v1/search?apikey=FAKE_PRIMO_API_KEY&limit=10&pcAvailability=true&q=any,contains,popcorn&scope=all_use&tab=use&vid=01MIT_INST:MIT
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - apikey FAKE_PRIMO_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Exl-Api-Remaining:
      - '546821'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "info" : {
            "totalResultsLocal" : -1,
            "totalResultsPC" : 13687,
            "total" : 13687,
            "first" : 1,
            "last" : 10
          },
          "highlights" : {
            "snippet" : [ "popcorn", "Popcorn" ],
            "title" : [ "Popcorn", "popcorn", "popcorns" ],
            "termsUnion" : [ "popcorn", "Popcorn", "popcorns" ]
          },
          "docs" : [ {
            "pnx" : {
              "addata" : {
                "issn" : [ "0953-8585" ],
                "jtitle" : [ "Physics world" ],
                "genre" : [ "article" ],
                "atitle" : [ "Popcorn" ],
                "date" : [ "2016-11" ],
                "risdate" : [ "2016" ],
                "volume" : [ "29" ],
                "issue" : [ "11" ],
                "spage" : [ "42" ],
                "epage" : [ "42" ],
                "pages" : [ "42-42" ],
                "eissn" : [ "2058-7058" ],
                "ristype" : [ "JOUR" ],
                "doi" : [ "10.1088/2058-7058/29/11/46" ],
                "tpages" : [ "1" ],
                "format" : [ "journal" ]
              },
              "delivery" : {
                "fulltext" : [ "fulltext" ],
                "delcategory" : [ "Remote Search Resource" ]
              },
              "links" : {
                "openurl" : [ "$$Topenurl_article" ],
                "openurlfulltext" : [ "$$Topenurlfull_article" ],
                "thumbnail" : [ "$$Tsyndetics_thumb_exl" ]
              },
              "search" : {
                "recordid" : [ "eNp9j81KBDEQhIMoOq6-gO8QpzuTn85RFv9gQQ96DrGTwMi6syRz8e3dQfHgwUsVFHxFlRBXCNcIRL0CQ9IdpFe-R-y1PRLdb3gsOvBmkGTInInz1t4B0GoynTh9nvY81d2FOClx2_Llj6_E693ty_pBbp7uH9c3G8no3CwTKOvZvpHVBUtWlBSZlNFTwgJJZybjdC5aIQ_IxSIZqyxn57TD6IeVUN-9XKfWai5hX8ePWD8DQliuhGV1WFYH5QNi0PYA0R-IxznO47Sbaxy3_6FfctlLiw" ],
                "recordtype" : [ "article" ],
                "title" : [ "Popcorn", "Physics world" ],
                "creationdate" : [ "2016" ],
                "rsrctype" : [ "article" ],
                "startdate" : [ "201611" ],
                "enddate" : [ "201611" ],
                "scope" : [ "AAYXX", "CITATION" ],
                "issn" : [ "0953-8585", "2058-7058" ],
                "fulltext" : [ "true" ]
              },
              "display" : {
                "type" : [ "article" ],
                "title" : [ "Popcorn" ],
                "source" : [ "Institute of Physics Journals" ],
                "ispartof" : [ "Physics world, 2016-11, Vol.29 (11), p.42-42" ],
                "identifier" : [ "ISSN: 0953-8585", "EISSN: 2058-7058", "DOI: 10.1088/2058-7058/29/11/46" ],
                "language" : [ "eng" ],
                "lds50" : [ "peer_reviewed" ]
              },
              "facets" : {
                "creationdate" : [ "2016" ],
                "language" : [ "eng" ],
                "rsrctype" : [ "articles" ],
                "prefilter" : [ "articles" ],
                "collection" : [ "CrossRef" ],
                "toplevel" : [ "peer_reviewed", "online_resources" ],
                "frbrgroupid" : [ "cdi_FETCH-LOGICAL-c177t-d0269c6b864f1fe28d285de198d1f0d4ec8574ef421c31cf6185626ce77471a93" ],
                "frbrtype" : [ "5" ],
                "jtitle" : [ "Physics world" ]
              },
              "sort" : {
                "title" : [ "Popcorn" ],
                "creationdate" : [ "201611" ]
              },
              "control" : {
                "sourcerecordid" : [ "10_1088_2058_7058_29_11_46" ],
                "originalsourceid" : [ "FETCH-LOGICAL-c177t-d0269c6b864f1fe28d285de198d1f0d4ec8574ef421c31cf6185626ce77471a93" ],
                "sourceid" : [ "crossref" ],
                "recordid" : [ "cdi_crossref_primary_10_1088_2058_7058_29_11_46" ],
                "recordtype" : [ "article" ],
                "addsrcrecordid" : [ "eNp9j81KBDEQhIMoOq6-gO8QpzuTn85RFv9gQQ96DrGTwMi6syRz8e3dQfHgwUsVFHxFlRBXCNcIRL0CQ9IdpFe-R-y1PRLdb3gsOvBmkGTInInz1t4B0GoynTh9nvY81d2FOClx2_Llj6_E693ty_pBbp7uH9c3G8no3CwTKOvZvpHVBUtWlBSZlNFTwgJJZybjdC5aIQ_IxSIZqyxn57TD6IeVUN-9XKfWai5hX8ePWD8DQliuhGV1WFYH5QNi0PYA0R-IxznO47Sbaxy3_6FfctlLiw" ],
                "sourcetype" : [ "Enrichment Source" ],
                "sourceformat" : [ "XML" ],
                "sourcesystem" : [ "Other" ],
                "iscdi" : [ "true" ],
                "score" : [ "0.020092823" ]
              }
            },
            "delivery" : {
              "link" : [ ],
              "deliveryCategory" : [ "Remote Search Resource" ],
              "availability" : [ "fulltext" ],
              "displayLocation" : false,
              "additionalLocations" : false,
              "physicalItemTextCodes" : "",
              "feDisplayOtherLocations" : false,
              "displayedAvailability" : "true",
              "holding" : [ ],
              "almaOpenurl" : "https://na06.alma.exlibrisgroup.com/view/uresolver/01MIT_INST/openurl?ctx_enc=info:ofi/enc:UTF-8&ctx_id=10_1&ctx_tim=2025-09-29 12:58:51&ctx_ver=Z39.88-2004&url_ctx_fmt=info:ofi/fmt:kev:mtx:ctx&url_ver=Z39.88-2004&rfr_id=info:sid/primo.exlibrisgroup.com-crossref&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&rft.genre=article&rft.atitle=Popcorn&rft.jtitle=Physics+world&rft.date=2016-11&rft.volume=29&rft.issue=11&rft.spage=42&rft.epage=42&rft.pages=42-42&rft.issn=0953-8585&rft.eissn=2058-7058&rft_id=info:doi/10.1088%2F2058-7058%2F29%2F11%2F46&rft_dat=<crossref>10_1088_2058_7058_29_11_46</crossref>&svc_dat=viewit"
            },
            "context" : "PC",
            "adaptor" : "Primo Central",
            "extras" : {
              "citationTrails" : {
                "citing" : [ ],
                "citedby" : [ "FETCH-LOGICAL-c177t-d0269c6b864f1fe28d285de198d1f0d4ec8574ef421c31cf6185626ce77471a93" ]
              },
              "timesCited" : { }
            },
            "@id" : "https://na06.alma.exlibrisgroup.com/primaws/rest/pub/pnxs/PC/cdi_crossref_primary_10_1088_2058_7058_29_11_46"
          }, {
            "pnx" : {
              "addata" : {
                "abstract" : [ "A\nbstract\nIn the large\nN\nc\nlimit cold dense nuclear matter must be in a lattice phase. This applies also to holographic models of hadron physics. In a class of such models, like the generalized Sakai-Sugimoto model, baryons take the form of instantons of the effective flavor gauge theory that resides on probe flavor branes. In this paper we study the phase structure of baryonic crystals by analyzing discrete periodic configurations of such instantons. We find that instanton configuratio[...]
