---
http_interactions:
- request:
    method: get
    uri: https://api-na.hosted.exlibrisgroup.com/primo/v1/search?apikey=FAKE_PRIMO_API_KEY&limit=10&pcAvailability=true&q=any,contains,test&scope=all_use&tab=use&vid=01MIT_INST:MIT
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - apikey FAKE_PRIMO_API_KEY
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\r\n<web_service_result
        xmlns=\"http://com/exlibris/urm/general/xmlbeans\">\r\n            <errorsExist>true</errorsExist>\r\n
        \           <errorList>\r\n                        <error>\r\n                                    <errorCode>UNAUTHORIZED</errorCode>\r\n
        \                                   <errorMessage>API-key not defined or not
        configured to allow this API.</errorMessage>\r\n                        </error>\r\n
        \           </errorList>\r\n</web_service_result>"
  recorded_at: Mon, 29 Sep 2025 16:57:14 GMT
recorded_with: VCR 6.3.1
