---
http_interactions:
- request:
    method: get
    uri: https://timdex.mit.edu/api/v1/search?full=false&page=1&q=asdfiouwenlasd
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e1ab07852abf86f98de4a3c55ebc3446"
    body:
      encoding: UTF-8
      string: '{"hits":0,"request_limit":500,"request_count":1,"limit_info":"Register
        for a free account and provide your JWT token to remove all request limitations.","results":[],"aggregations":{"source":[],"content_format":[],"content_type":[],"collection":[],"contributor":[],"subject":[],"language":[],"literary_form":[]}}'
  recorded_at: Thu, 14 Apr 2022 14:59:43 GMT
recorded_with: VCR 6.1.0
