---
http_interactions:
- request:
    method: get
    uri: https://timdex.mit.edu/api/v1/search?full=false&page=1&q=1234-5678
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a94be5be1a22aad7867eff8b39ace0af"
    body:
      encoding: UTF-8
      string: '{"hits":189,"request_limit":500,"request_count":1,"limit_info":"Register
        for a free account and provide your JWT token to remove all request limitations.","results":[{"id":"9935052474106761","source":"MIT
        Alma","source_link":"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\u0026docid=alma9935052474106761","full_record_link":"https://timdex.mit.edu/api/v1/record/9935052474106761","content_type":"Text","realtime_holdings_link":"Not
        Yet Implemented","publication_date":"2019","title":"1234-2019 - IEEE Std 1234-2019
        (Revision of IEEE Std 1234-2007) - Redline","isbns":["1-5044-6189-4"],"imprint":["IEEE"]},{"id":"9935088936206761","source":"MIT
        Alma","source_link":"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\u0026docid=alma9935088936206761","full_record_link":"https://timdex.mit.edu/api/v1/record/9935088936206761","content_type":"Text","realtime_holdings_link":"Not
        Yet Implemented","publication_date":"1660","title":"Annotata ad libros propheticos
        Veteris Testamenti, sive, Criticorum sacrorum tomus IV.","contributors":[{"kind":"contributor","value":"Pearson,
        John, 1613-1686."}],"oclcs":["ocm12903389e","12903389"],"imprint":["Londini
        : Oxonii : Cantabrigiæ : Excudebat Jacobus Flesher : Prostant apud Cornelium
        Bee, Guilielmum Wells, Richardum Royston, Samuelum Thomson ; Thomam Robinson
        ; Guilielmum Morden, 1660."]},{"id":"990008104800106761","source":"MIT Alma","source_link":"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\u0026docid=alma990008104800106761","full_record_link":"https://timdex.mit.edu/api/v1/record/990008104800106761","content_type":"Text","content_format":["Print
        volume"],"realtime_holdings_link":"Not Yet Implemented","publication_date":"1997","title":"1996
        Future Car Challenge.","contributors":[{"kind":"contributor","value":"Society
        of Automotive Engineers."},{"kind":"contributor","value":"SAE International
        Congress \u0026 Exposition Detroit, Mich.) (1997 :"}],"subjects":["Automobiles
        Design and construction Competitions."],"summary_holdings":[{"location":"Library
        Storage Annex","collection":"Off Campus Collection","call_number":"TL1.S672
        no.1234","summary":"MCM","format":"Print volume"}],"lccn":"96071843","oclcs":["36713876"],"isbns":["1560919469"],"imprint":["Warendale,
        PA : Society of Automotive Engineers, c1997."]},{"id":"9935173604106761","source":"MIT
        Alma","source_link":"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\u0026docid=alma9935173604106761","full_record_link":"https://timdex.mit.edu/api/v1/record/9935173604106761","content_type":"Text","realtime_holdings_link":"Not
        Yet Implemented","publication_date":"2008","title":"T[...]
