---
http_interactions:
- request:
    method: get
    uri: https://timdex.mit.edu/api/v1/search?full=false&page=1&q=popcorn
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"861d7a1415016b12d22d649c5b73e337"
    body:
      encoding: UTF-8
      string: '{"hits":131,"request_limit":500,"request_count":1,"limit_info":"Register
        for a free account and provide your JWT token to remove all request limitations.","results":[{"id":"9935117411606761","source":"MIT
        Alma","source_link":"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\u0026docid=alma9935117411606761","full_record_link":"https://timdex.mit.edu/api/v1/record/9935117411606761","content_type":"Text","realtime_holdings_link":"Not
        Yet Implemented","publication_date":"uuuu","title":"Popcorn Industry Profile:
        Brazil","imprint":["Datamonitor Plc"]},{"id":"9935117412706761","source":"MIT
        Alma","source_link":"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\u0026docid=alma9935117412706761","full_record_link":"https://timdex.mit.edu/api/v1/record/9935117412706761","content_type":"Text","realtime_holdings_link":"Not
        Yet Implemented","publication_date":"uuuu","title":"Popcorn Industry Profile:
        Argentina","imprint":["Datamonitor Plc"]},{"id":"9935117410906761","source":"MIT[...]
