---
http_interactions:
- request:
    method: get
    uri: https://timdex.mit.edu/api/v1/search?full=false&page=1&q=%27allegedly%27
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38c0486670fdadf822ab1e5adc991c47"
    body:
      encoding: UTF-8
      string: '{"hits":209,"request_limit":500,"request_count":2,"limit_info":"Register
        for a free account and provide your JWT token to remove all request limitations.","results":[{"id":"9935088272806761","source":"MIT
        Alma","source_link":"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\u0026docid=alma9935088272806761","full_record_link":"https://timdex.mit.edu/api/v1/record/9935088272806761","content_type":"Text","realtime_holdings_link":"Not
        Yet Implemented","publication_date":"1977","title":"Allegedly Nonresponsive
        Bid"},{"id":"9935088273406761","source":"MIT Alma","source_link":"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\u0026docid=alma9935088273406761","full_record_link":"https://timdex.mit.edu/api/v1/record/9935088273406761","content_type":"Text","realtime_holdings_link":"Not
        Yet Implemented","publication_date":"1978","title":"Allegedly Ambiguous Specifications"},{"id":"9935088272606761","source":"MIT
        Alma","source_link":[...]
