---
http_interactions:
- request:
    method: get
    uri: https://timdex.mit.edu/api/v1/search?full=false&page=1&q=hallo
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1507d2da41e12714e9f78bac13476887"
    body:
      encoding: UTF-8
      string: '{"hits":51,"request_limit":500,"request_count":1,"limit_info":"Register
        for a free account and provide your JWT token to remove all request limitations.","results":[{"id":"9935192226506761","source":"MIT
        Alma","source_link":"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\u0026docid=alma9935192226506761","full_record_link":"https://timdex.mit.edu/api/v1/record/9935192226506761","content_type":"Text","realtime_holdings_link":"Not
        Yet Implemented","publication_date":"uuuu","title":"Flyer for San Francisco''s
        First Hallo-Rave at the Galleria.","subjects":["Social and Cultural Life","Gay
        communities","Social events","Bars and saloons"],"imprint":["[Place of publication
        not identified] : [publisher not identified], [date of publication not identified]."]},{"id":"990011570780106761","source":"MIT
        Alma","source_link":"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\u0026docid=alma990011570780106761","full_record_link":"https://timdex.mit.edu/api/v1/record/990011570780106761","content_type":"Text","content_format":["Print
        volume"],"realtime_holdings_link":"Not Yet Implemented","publication_date":"1910","title":"Die
        Spaltpol-Umformer.","contributors":[{"kind":"author","value":"Hallo, H. S."}],"subjects":["Electric
        transformers."],"summary_holdings":[{"location":"Library Storage Annex","collection":"Off
        Campus Collection","call_number":"TK2551.H35x 1910","format":"Print volume"}],"oclcs":["36814098"],"imprint":["Berlin
        Julius Springer, 1910."]},{"id":"9935064000606761","source":"MIT Alma","source_link":"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\u0026docid=alma9935064000606761","full_record_link":"https://timdex.mit.edu/api/v1/record/9935064000606761","content_type":"Text","realtime_holdings_link":"Not
        Yet Implemented","publication_date":"1624","title":"Columba Noæ oliuam adferens
        iactatissimæ Christi arcæ. Concio synodic[...]
