---
http_interactions:
- request:
    method: get
    uri: https://timdex.mit.edu/api/v1/search?full=false&page=1&q=carbon%20nanotubes
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0138715a0cb4c878737a9722daa0868e"
    body:
      encoding: UTF-8
      string: "{\"hits\":13571,\"request_limit\":500,\"request_count\":1,\"limit_info\":\"Register
        for a free account and provide your JWT token to remove all request limitations.\",\"results\":[{\"id\":\"9935122021206761\",\"source\":\"MIT
        Alma\",\"source_link\":\"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\\u0026docid=alma9935122021206761\",\"full_record_link\":\"https://timdex.mit.edu/api/v1/record/9935122021206761\",\"content_type\":\"Text\",\"realtime_holdings_link\":\"Not
        Yet Implemented\",\"publication_date\":\"2011\",\"title\":\"Carbon Nanotubes
        - Polymer Nanocomposites\",\"isbns\":[\"953-51-4458-8\"],\"imprint\":[\"IntechOpen\"]},{\"id\":\"9935145691106761\",\"source\":\"MIT
        Alma\",\"source_link\":\"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\\u0026docid=alma9935145691106761\",\"full_record_link\":\"https://timdex.mit.edu/api/v1/record/9935145691106761\",\"content_type\":\"Text\",\"realtime_holdings_link\":\"Not
        Yet Implemented\",\"publication_date\":\"2018\",\"title\":\"Carbon Nanotubes
        - Recent Progress\",\"isbns\":[\"1-83881-343-8\",\"1-78923-053-5\"],\"imprint\":[\"IntechOpen\"]},{\"id\":\"990028249340106761\",\"source\":\"MIT
        Alma\",\"source_link\":\"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\\u0026docid=alma990028249340106761\",\"full_record_link\":\"https://timdex.mit.edu/api/v1/record/990028249340106761\",\"content_type\":\"Text\",\"realtime_holdings_link\":\"Not
        Yet Implemented\",\"publication_date\":\"2011\",\"title\":\"Carbon Nanotubes
        and Carbon Nanotubes /\",\"links\":[{\"kind\":\"unknown\",\"url\":\"https://www.intechopen.com/books/carbon-nanotubes-growth-and-applications\"}],\"contributors\":[{\"kind\":\"author\",\"value\":\"Yong
        Hu, author.\"},{\"kind\":\"contributor\",\"value\":\"Changfa Guo, author.\"}],\"oclcs\":[\"884046976\",\"1111233648\"],\"isbns\":[\"9789533075662\",\"953307566X\"],\"imprint\":[\"INTECH
        Open Access Publisher, 2011.\"]},{\"id\":\"9935123510206761\",\"source\":\"MIT
        Alma\",\"source_link\":\"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\\u0026docid=alma9935123510206761\",\"full_record_link\":\"https://timdex.mit.edu/api/v1/record/9935123510206761\",\"content_type\":\"Text\",\"realtime_holdings_link\":\"Not
        Yet Implemented\",\"publication_date\":\"2008\",\"title\":\"Carbon nanotubes
        advanced topics in the synthesis, structure, properties and applications /\",\"contributors\":[{\"kind\":\"contributor\",\"value\":\"Jorio,
        A. (Ado)\"},{\"kind\":\"contributor\",\"value\":\"Dresselhaus, G.\"},{\"kind\":\"contributor\",\"value\":\"Dresselhaus,
        M. S.\"}],\"subjects\":[\"Carbon.\",\"Nanotubes.\"],\"oclcs\":[\"233973272\"],\"isbns\":[\"1-281-18033-5\",\"9786611180331\",\"3-540-72865-1\"],\"imprint\":[\"New
        York ; Berlin : Springer-Verlag, c2008.\"]},{\"id\":\"9935055804206761\",\"source\":\"MIT
        Alma\",\"source_link\":\"https://mit.primo.exlibrisgroup.com/discovery/fulldisplay?vid=01MIT_INST:MIT\\u0026docid=alma9935055804206761\",\"full_record_link\":\"https://timdex.mit.edu/api/v1/record/9935055804206761\",\"content_type\":\"Text\",\"realtime_h[...]
