<%= return if contributors.blank? %>

<% contributors.uniq.map do |contributor| %>
  <li>
    <%= render_contributor_type(contributor['kind']) %><%= link_to contributor['value'],
                results_path({ advanced: true, contributors: contributor['value'] }) %>  
  </li>
<% end %>
