<%= return if contributors.blank? %>

<% contributors.uniq.each do |contributor| %>
  <li><%= link_to contributor['value'], results_path({ advanced: true, contributors: contributor['value'] }) %></li>
<% end %>
