<%= return if contributors.blank? %>

<span class="sr">Contributors: </span>
<ul class="list-inline truncate-list contributors">
  <% contributors.uniq do |contributor| %>
    <li><%= link_to contributor['value'], results_path({ advanced: true, contributors: contributor['value'] }) %></li>
  <% end %>
</ul>