<% return unless error['message'].present? %>

<aside class="alert alert-banner error" role="alert">
  <i></i>
  <div><h3><%= error['message'] %></h3>
  <%= error&.dig('extensions')&.dig('problems')&.pluck("explanation")&.join %>
  </div>
</aside>