<% if Flipflop.enabled?(:gdt) %>
  <h2>Search for geospatial/GIS data</h2>
  <p id="site-desc">Find GIS data held at MIT and other institutions</p>
<% else %>
  <h2>Search the MIT Libraries</h2>
<% end %>
