<% if Flipflop.enabled?(:gdt) %>
  <h1 class="hd-2">Search for geospatial/GIS data</h1>
  <p>Find GIS data held at MIT and other institutions</p>
<% else %>
  <h1 class="hd-2">Search the MIT Libraries</h1>
<% end %>
