<div class="col1q-r sidebar">
  <% if doi(@record) %>
    <% data_url = "/doi?doi=#{URI.encode_www_form_component(doi(@record))}&slim=true" %>

    <div class="fact-container"
        data-controller="content-loader"
        data-content-loader-url-value=<%= data_url %>>
    </div>
  <% end %>

  <div class="bit askus">
    <h3 class="title"><%= t('.ask_us') %></h3>
    <p><%= t('.ask_us_description') %></p>
    <p>
      <%= link_to t('.ask_us'), 'https://libraries.mit.edu/ask/', class: 'btn button-secondary' %>
    </p>
  </div>
</div>
