<% if Flipflop.enabled?(:gdt) %>
  <div role="region" aria-label="Access and help links" class="col1q-r sidebar access-sidebar">
<% else %>
  <aside class="col1q-r sidebar">
<% end %>
  <% if Flipflop.enabled?(:gdt) && access_type(@record) && gis_access_link(@record) %>
    <h2 class="hd-3">Access links</h2>
    <%= render partial: 'access_buttons' %>
  <% end %>

   <%= render partial: 'shared/ask', locals: { display: '' } %>
<% if Flipflop.enabled?(:gdt) %>
  </div>
<% else %>
  </aside>
<% end %>
