<div class="col1q-r sidebar">
  <% if doi(@record) %>
    <% data_url = "/doi?doi=#{URI.encode_www_form_component(doi(@record))}&slim=true" %>

    <div class="fact-container"
        data-controller="content-loader"
        data-content-loader-url-value=<%= data_url %>>
    </div>
  <% end %>

  <% if Flipflop.enabled?(:gdt) && access_type(@record) && gis_access_link(@record) %>
    <%= render partial: 'access_button', locals: { display: 'hidden-md' } %>
  <% end %>

   <%= render partial: 'shared/ask', locals: { display: '' } %>
</div>
