<div class="alert alert-banner">
  <p><i class="fa fa-info-circle fa-lg"></i> Info-style: Hmm, maybe you meant to enter a search term?</p>
</div>

<div class="alert alert-banner error">
  <p><i class="fa fa-exclamation-triangle fa-lg"></i> Danger-style: Whoa! Hold up there, cowboy!</p>
</div>

<div class="alert alert-banner warning">
  <p><i class="fa fa-exclamation-circle fa-lg"></i> Warning-style: Uh oh... Are you sure?</p>
</div>

<div class="alert alert-banner success">
  <p><i class="fa fa-check-circle fa-lg"></i> Success-style: Yes! Rock on.</p>
</div>
