<h1>Listen to many voices</h1>

<h2>We make MIT's "Open Access" mission possible.</h2>

<h3>We are defenders of the world's knowledge, bringing it out from behind paywalls. We find and safeguard the truths of many voices - some new, some long silenced.</h3>

<p>We're here to save the world. To save you from a post-truth universe. To save you from bias. To save you from pay-walls. We're here to invite you to get your hands dirty with information. To take us into the field. We're your embedded experts. It's what we're doing every day. We're here to safeguard the world's knowledge. We're here to find and defend the truths of many voices, some new, some long silenced. We're here to close the rift between theory and practice and the divides between disciplines. We're here to share rather than to hoard, to open up rather than to seal off and shut tight.</p>

<p>Don't believe anyone who would have you choose between the physical and the digital. We're way past that. We're all in one place and that place is everywhere. Some people think libraries need saving. At MIT, we think libraries - big, small, neighborhood, academic, online, and in-person - just might be the heroes you've been waiting for.</p>

<p class="copy-sup">Some people think libraries need saving. We believe we're the ones doing the saving. The MIT Libraries <em>are</em> MIT. We make MIT's "Open Access" mission possible. We are defenders of the world's knowledge, bringing it out from behind paywalls. We find and safeguard the truths of many voices - some new, some long silenced. We connect people to ideas and knowledge they didn't know they were looking for - which is often how breakthroughs on big questions and hard problems happen.</p>
