<%
  label = "Search the MIT Libraries"
  button = "Search"
%>
<form id="basic-search" class="form-horizontal basic-search" action="/results" method="get">
  <div class="form-group">
    <label for="basic-search-main" class="field-label"><%= label %></label>
      <input id="basic-search-main" type="search" class="field field-text basic-search-input required" name="q" placeholder="Enter your search" value="<%= params[:q] %>" required="required" aria-required="true">
    <div class="basic-search-submit">
      <button type="submit" class="btn button-primary"><%= button %></button>
    </div>
  </div>
</form>

<p class="box-content">The advanced search form has not been designed yet.</p>
