<p class="subtitle2">Plain panel</p>

<div class="panel">
  <div class="panel-heading">
    Fantastic Places of Mars
  </div>
  <div class="panel-body">
    Submitter: <br>
    Submitted: less than a minute ago<br>
    Status: unknown<br>
    Permanent URL: pending submission processing
    <br>
  </div>
  <div class="panel-footer">
    <a href="/submissions/1">View Details</a>
    --
    <a href="/submissions/package/1">View Sword Package</a>
    --
    <a rel="nofollow" data-method="post" href="/submissions/resubmit/1">Resubmit Package</a>
    --
    <a rel="nofollow" data-method="delete" href="/submissions/1">Delete Submission</a>
  </div>
</div>

<p class="subtitle2">Info panel</p>

<div class="panel panel-info">
  <div class="panel-heading">
    Fantastic Places of Mars
  </div>
  <div class="panel-body">
    Submitter: <br>
    Submitted: less than a minute ago<br>
    Status: unknown<br>
    Permanent URL: pending submission processing
    <br>
  </div>
  <div class="panel-footer">
    <a href="/submissions/1">View Details</a>
    --
    <a href="/submissions/package/1">View Sword Package</a>
    --
    <a rel="nofollow" data-method="post" href="/submissions/resubmit/1">Resubmit Package</a>
    --
    <a rel="nofollow" data-method="delete" href="/submissions/1">Delete Submission</a>
  </div>
</div>

<p class="subtitle2">danger panel</p>

<div class="panel panel-danger">
  <div class="panel-heading">
    Fantastic Places of Mars
  </div>
  <div class="panel-body">
    Submitter: <br>
    Submitted: less than a minute ago<br>
    Status: unknown<br>
    Permanent URL: pending submission processing
    <br>
  </div>
  <div class="panel-footer">
    <a href="/submissions/1">View Details</a>
    --
    <a href="/submissions/package/1">View Sword Package</a>
    --
    <a rel="nofollow" data-method="post" href="/submissions/resubmit/1">Resubmit Package</a>
    --
    <a rel="nofollow" data-method="delete" href="/submissions/1">Delete Submission</a>
  </div>
</div>

<p class="subtitle2">warning panel</p>

<div class="panel panel-warning">
  <div class="panel-heading">
    Fantastic Places of Mars
  </div>
  <div class="panel-body">
    Submitter: <br>
    Submitted: less than a minute ago<br>
    Status: unknown<br>
    Permanent URL: pending submission processing
    <br>
  </div>
  <div class="panel-footer">
    <a href="/submissions/1">View Details</a>
    --
    <a href="/submissions/package/1">View Sword Package</a>
    --
    <a rel="nofollow" data-method="post" href="/submissions/resubmit/1">Resubmit Package</a>
    --
    <a rel="nofollow" data-method="delete" href="/submissions/1">Delete Submission</a>
  </div>
</div>

<p class="subtitle2">success panel</p>

<div class="panel panel-success">
  <div class="panel-heading">
    Fantastic Places of Mars
  </div>
  <div class="panel-body">
    Submitter: <br>
    Submitted: less than a minute ago<br>
    Status: unknown<br>
    Permanent URL: pending submission processing
    <br>
  </div>
  <div class="panel-footer">
    <a href="/submissions/1">View Details</a>
    --
    <a href="/submissions/package/1">View Sword Package</a>
    --
    <a rel="nofollow" data-method="post" href="/submissions/resubmit/1">Resubmit Package</a>
    --
    <a rel="nofollow" data-method="delete" href="/submissions/1">Delete Submission</a>
  </div>
</div>
