<% content_for :title, "About Natural Language Search" %>

<div class="container about-nls">
  <h2>Opting in to Natural Language Search</h2>

  <h3>What does turning on the Natural Language Search (NLS) do?</h3>

  <p>By default, this search tool uses traditional keyword matching.</p>

  <p>If you enable the Natural Language Search (NLS) option, the search tries to understand the meaning and intent behind your search terms, not just matching exact keywords.</p>

  <p>For example, if you search for "climate change impacts," the NLS can find results about "global warming effects" or "environmental shifts"&mdash;even if those exact words don't appear together or at all in the source.</p>

  <p>You can opt-in and out of the NLS to try both options to see which results are better for different types of queries. We'll remember your last choice to make it easier to continue where you left off.</p>

  <h3>How can I tell you what I think about NLS?</h3>

  <p><a href="https://libraries.mit.edu/use-feedback">Send us your feedback!</a> Sharing your experiences (good and bad) will help us understand how to make these search options work better.</p>
  <p>In our experience, NLS works well for:</p>
  <ul>
    <li>Natural language queries ("what causes ocean acidification?")</li>
    <li>Concept-based searches rather than exact phrases</li>
    <li>Exploratory research where related terms are valuable</li>
  </ul>

  <p>Traditional keyword searching works well for:</p>
  <ul>
    <li>Specific item searches (i.e. pasting an article title or full citation into the search box)</li>
  </ul>

  <p>Do you agree? <a href="https://libraries.mit.edu/use-feedback">Let us know what you think.</a></p>

  <h3>Are there any limitations I should be aware of?</h3>

  <p>This search tool (the default on the MIT Libraries homepage) searches across many MIT Libraries catalogs, indexes, and content sources and not all of these can be searched with NLS. You'll still get results from all sources - but we will revert to traditional keyword matching when NLS is not possible.</p>

  <p>That means if you have enabled NLS, this is what you'll get on each tab:</p>
  <ul>
    <li>All tab (default): results listing "Articles, Books &amp; More" as a source use traditional keyword matching, all other results use NLS</li>
    <li>Articles/Books &amp; Media tabs: all results use traditional keyword matching</li>
    <li>All other tabs: all results use NLS</li>
  </ul>
</div>
