<% if @suggestions.present? && !Feature.enabled?(:geodata) %>
  <div id="hint" aria-live="polite">
    <aside class="mitlib-suggestion-panel">
      <div class="panel-content">
        <p class="panel-type">Suggested resource</p>
        <h3><%= @suggestions['title'] %></h3>
        <p>
          <%= link_to(
            @suggestions['url'], @suggestions['url']
          ) %>
        </p>
      </div>
    </aside>
  </div>
<% end %>
