<% if @suggestions.present? && !Feature.enabled?(:geodata) %>
  <div id="hint" aria-live="polite" data-matomo-seen="Interventions, Intervention Shown, Tab: {{getActiveTabName}}" data-track-content data-content-name="Intervention">
    <aside class="mitlib-suggestion-panel">
      <div class="panel-content">
        <h2 class="panel-type">Suggested resource</h2>
        <h3 data-content-piece="<%= @suggestions['title'] %>"><%= @suggestions['title'] %></h3>
        <p>
          <%= link_to(
            @suggestions['url'], @suggestions['url']
          ) %>
        </p>
      </div>
    </aside>
  </div>
<% end %>
