<% return unless @json.present? %>

<div id="issn-fact" class="panel panel-info fact">
  <div class="panel-heading">
    <%= link_to @json[:title], @json[:openurl] %>
  </div>

  <div class="panel-body">
    <p>Publisher: <%= @json[:publisher] %></p>
  </div>

  <div class="panel-footer">
    <span>Is this relevant to your search? </span>
    <a href="#">Yes</a> | <a href="#">No</a>
  </div>
</div>
