// --------------------------------------------------------------
// CENTRALIZED LOCATION FOR ANIMATIONS, TRANSITIONS, AND OUTLINES
// --------------------------------------------------------------

// ANIMATION

@mixin text-decoration-animation( $speed ) {
    transition: text-decoration #{$speed} ease;
    text-decoration: none; // Included as fallback if text-decoration-color isn't supported
    text-decoration: underline transparent;
}

// OUTLINE

@mixin set-focus-outline() {
    *:focus-visible {
        outline: 2px solid $color-focus-dark;
    }
}
