// --------------------------------------------------------------
// CENTRALIZED LOCATION FOR ANIMATIONS, TRANSITIONS, AND OUTLINES
// --------------------------------------------------------------

// ANIMATION

@mixin text-decoration-animation {
    transition: text-decoration 150ms ease;
    text-decoration: none; // Included as fallback if text-decoration-color isn't supported
    text-decoration: underline transparent;
}

@mixin hover-transition {
    transition: all .25s ease-in-out 0s;
}

// OUTLINE

@mixin set-focus-outline-dark() {
    *:focus-visible {
        outline: 2px solid $color-focus-dark;
        outline-offset: 2px;
    }
}

@mixin set-focus-outline() {
    *:focus-visible {
        outline: 2px solid $color-focus;
        outline-offset: 2px;
    }
}

// SKELETON LOADER

@mixin skeleton-loader($width, $height:2rem) {
    background-color: $color-gray-200;
    border-radius: 4px;
    display: inline-block;
    height: $height;
    position: relative;
    overflow: hidden;
    font-size: inherit;
    min-width: $width;

    &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0)
    );
    animation: shimmer 1s infinite;
    content: '';
    }

    @keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
    }
}