// --------------------------------------------------------------
// CENTRALIZED LOCATION FOR ANIMATIONS, TRANSITIONS, AND OUTLINES
// --------------------------------------------------------------

// ANIMATION

@mixin text-decoration-animation {
    transition: text-decoration 150ms ease;
    text-decoration: none; // Included as fallback if text-decoration-color isn't supported
    text-decoration: underline transparent;
}

@mixin hover-transition {
    transition: all .25s ease-in-out 0s;
}

// OUTLINE

@mixin set-focus-outline() {
    *:focus-visible {
        outline: 2px solid $color-focus-dark;
    }
}
