#filters {
  h3 {
    margin-bottom: 0;
  }

  .category {
    margin-bottom: 1em;
  }

  ul.category-terms {
    border-collapse: separate;
    border-spacing: 0px 4px;
    display: table;
    margin-bottom: 0;
    table-layout: fixed;
    width: 100%;

    li.term {
      display: contents;

      a {
        display: table-row;
        text-decoration: none;

        &:hover,
        &:focus,
        &.applied {
          background: #000;
          color: #fff;
        }

        span {
          display: table-cell;
          padding: 2px;

            &.name {
              width: 75%;
              text-decoration: underline;
            }

            &.count {
              min-width: 25%;
              text-align: right;
              text-decoration: none;
            }
        }
      }
    }
  }
}
