.pagination-container {
  clear: both;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 1em;
  border-top: 1px solid $color-border-default;
  gap: 24px;

  .center-elements {
    display: flex;
    flex-grow: 1;
    gap: 24px;
    justify-content: center;
  }

  span {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid $color-border-default;
    color: $color-text-disabled;
  }

  div.current span {
    border: none;
    padding: 6px 0;
    color: $color-text-primary;
  }

  a {
    @include buttonSecondary;
  }

  .first a, .first span {
    border: none;
    text-decoration: underline;
    text-decoration-color: $color-blue-500;
    text-underline-offset: 0.5rem;
    padding: 6px 0;

    &:hover {
      background-color: $color-white;
    }    
  }

  .first span {
    text-decoration-color: $color-border-default;
  }

  // Hide the first link and count on smaller screens
  @media (max-width: $bp-screen-md) {
    justify-content: space-between;

    .center-elements {display: none;}
  }  
}