.pagination-container {
  clear: both;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 3em;

  .previous {
    border-right: 1px solid black;
    margin-right: 0.5em;
    padding-right: 0.5em;
  }

  .next {
    border-left: 1px solid black;
    margin-left: 0.5em;
    padding-left: 0.5em;
  }
}
