.panel {

  background-color: $black;
  border: 1px solid $black;
  color: $white;

  a {
    color: $white;
  }

  .panel-heading {
    font-weight: 700;
  }
  .panel-footer {
    background: inherit;
    border-top: inherit;
  }

  &.panel-danger {
    background-color: $red;
    border-color: $red;
    color: $black;
    font-size: 2.4rem;

    a {
      color: $black;
    }

    .panel-heading {
      font-size: 3.2rem;
    }
    .panel-footer {
      font-size: 2.4rem;
    }
  }
  &.panel-info {
    background-color: $blue-bright;
    border-color: $blue-bright;
    color: $black;

    a {
      color: $black;
    }
  }
  &.panel-success {
    background-color: $green;
    border-color: $green;
    color: $black;

    a {
      color: $black;
    }
  }
  &.panel-warning {
    background-color: $yellow;
    border-color: $yellow;
    color: $black;

    a {
      color: $black;
    }
  }
}

.fact {
  .panel {
    margin-top: 0;

    .panel-heading {
      margin-top: 0;
      padding-top: 16.8px;
    }
  }
}

.ask-us {
  margin-top: 3rem;
  a {
    margin-top: 0.5rem;
    &:after {
      font-family: FontAwesome;
      font-size: $fs-base;
      color: $gray-l1;
      content: '\f075';
      padding-left: .8rem;
    }
  }
  &.view-md {
    @media (min-width: $bp-screen-md) {
      display: none;
    }
  }
  &.view-lg {
    display: none;
    @media (min-width: $bp-screen-md) {
      display: block;
    }
  }
}

.search-summary {
  color: $black;
  background-color: $gray-l3;
  margin-top: 0;
  border: 0;
  padding: 2rem 2rem 1rem 2rem;
  .list-filter-summary,
  .list-terms-summary {
    @media (min-width: $bp-screen-md) {
      display: flex;
    }
  }
  .list-filter-summary {
    padding-top: 0.8rem;
    border-top: 1px solid $black;
  }
  .hd-search-summary {
    margin-right: 2rem;
    padding-top: 0.2rem;
    white-space: nowrap;
  }
  .list-unbulleted {
    margin-bottom: 0;
  }
  .applied-filter,
  .applied-term {
    font-size: $fs-small;
    text-decoration: none;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .terms-list {
    margin-top: .5rem;
    margin-bottom: 0;
    &:first-child {
      margin-top: 0;
    }
  }
  .keyword {
    margin-bottom: .8rem;
  }
  .applied-filter {
    padding: .5rem;
    &::before {
      font-family: FontAwesome;
      content: '\f00d';
      padding-right: .25rem;
    }
    &:hover,
    &:focus {
      color: $white;
      background-color: $black;
    }
  }
  .clear-filters {
    padding-top: 1rem;
  }
  @media (max-width: $bp-screen-md) {
    display: block;
  }
}
