.top-space {
  margin-top: 1.2rem;
  @media (min-width: $bp-screen-md) {
    margin-top: 2.4rem;
  }
}

.wrap-results {
  margin-bottom: 3rem;
  background-color: $white-t;
  padding: 15px;

  @media (max-width: $bp-screen-md) {
    padding: 0px;
  }
  .no-results {
    margin-left: -15px;
  }

  .no-results + .ask-us {
    margin-top: 0rem;
  }
  
  .results-context {
    margin-top: -15px;
    padding-left: 2.5rem;
    @media (max-width: $bp-screen-md) {
      margin-top: 0;
    }
  }

  .results-list {
    @media (max-width: $bp-screen-md) {
      .result {
        padding-left: 0;
        padding-right: 0;
        margin-left: 3rem;
      }
    }
  }
}

.result {
  padding: 2rem;
  border-top: 1px solid $brand-primary;
  font-size: $fs-small;

  &::marker {
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: $fw-bold;
  }

  .record-title {
    font-size: 2.5rem;
    line-height: 1.5625;
  }

  &:hover,
  &:focus {
    background-color: $gray-l4;
  }

  a:visited {
    color: $brand-secondary;
  }

  .pub-info {
    font-size: $fs-base;
    color:  $gray-d1;
    span:first-child:after {
      content: " | ";
    }
    margin: 1em 0;
  }

  .result-summary {
    margin-bottom: 2.4em;
  }

  .result-highlights {
    margin-top: 1.4em;
    ul {
      list-style: none;
      li {
        margin-left: 2rem;
      }
    }
  }

  .result-get,
  .result-record {
    padding-top: 5px;
    a:visited {
      color: $white;
    }
  }

  .result-get {
    a:visited {
      background-color: $brand-secondary;
    }
  }

  .truncate-list {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .inner-heading {
    font-size: 1.8rem;
    line-height: 1.1;
  }
}
