// ----------------------------
// Results List
// ----------------------------

.top-space {
  margin-top: 1.2rem;
  @media (min-width: $bp-screen-md) {
    margin-top: 2.4rem;
  }
}

.wrap-results {
  margin-bottom: 3rem;
  background-color: $white-t;
  padding: 15px;

  @media (max-width: $bp-screen-md) {
    padding: 0px;
  }
  .no-results {
    margin-left: -15px;
  }

  .no-results + .ask-us {
    margin-top: 0rem;
  }
  
  .results-context {
    margin-top: -15px;
    padding-left: 2.5rem;
    @media (max-width: $bp-screen-md) {
      margin-top: 0;
    }
  }

  .results-list {
    @media (max-width: $bp-screen-md) {
      .result {
        padding-left: 0;
        padding-right: 0;
        margin-left: 3rem;
      }
    }
  }
}

// ----------------------------
// Individual Results
// ----------------------------

.result {
  padding: 2rem;
  border-top: 1px solid $brand-primary;
  font-size: $fs-small;
  line-height: 0; /* line height needs to be reset so iOS doesn't act weird */

  &::marker {
    font-size: 2.5rem;
    font-weight: $fw-bold;
  }

  &:hover,
  &:focus {
    background-color: $gray-l4;
  }

  .result-content {
    line-height: 1.2;

    .record-title {
      font-size: 2.5rem;
      line-height: 1.1;
    }

    a:visited {
      color: $brand-secondary;
    }

    .pub-info {
      font-size: $fs-base;
      color:  $gray-d1;
      span:first-child:after {
        content: " | ";
      }
      margin: 1em 0;
    }

    .result-summary {
      margin-bottom: 2.4em;
    }

    .result-highlights {
      margin-top: 1.4em;
      ul {
        list-style: none;
        li {
          margin-left: 2rem;
        }
      }
    }
  }

  .result-get,
  .result-record {
    padding-top: 5px;
    a:visited {
      color: $white;
    }
  }

  .result-get {
    a:visited {
      background-color: $brand-secondary;
    }
  }

  .truncate-list {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .inner-heading {
    font-size: 1.8rem;
    line-height: 1.1;
  }
}

/* Start USE specific overrides */

// ----------------------------
// Result list and Sidebar
// ----------------------------

#content-wrapper {
  padding-top: 12px;
  padding-bottom: 44px;

  .results-context {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 4px;
  }

  .results-context-description {
    color: $color-text-secondary;
    margin-bottom: 32px;
  }

  #results-section {
    padding: 16px 0 0 0;
  }

  #results-layout-wrapper {
    display: flex;
    gap: 64px;

    #results {
      padding: 0;
      flex-grow: 1;
    }

    #results-sidebar {
      flex: 0 0 360px;

      display: flex;
      flex-direction: column;
      gap: 32px;

      @media (max-width: 1140px) {
        flex-basis: 280px;
      }

      p {
        line-height: 1.4;
      }

      a {
        @include underlinedLinks;
      }
    }

    // Put the sidebar below the results when the screen is narrower than 1024px
    @media (max-width: $bp-screen-lg) {
        flex-direction: column;
        gap: 32px;

        // Put the sidebar items side by side when space is available
        #results-sidebar {
          flex-direction: row;
          padding-bottom: 40px;
          gap: 12px;
          flex-basis: auto;

          > div {
            padding-right: 24px;
          }
        }

        #callout-wrapper {
          margin-bottom: 0;
        }
    }

    // Put sidebar items in a column below 768px
    @media (max-width: $bp-screen-md) {
    
      #results-sidebar {
        flex-direction: column;
        gap: 32px;
      }
      
    }
  }

}

// ----------------------------
// Result callout boxes
// ----------------------------

#callout-wrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;

  aside {
    border: 3px solid $color-border-default;
    padding: 20px 24px;

    p {
      line-height: 1.4;
    }

    a {
      @include buttonSecondary;
    }
  }

  @media (max-width: $bp-screen-md) {
    flex-direction: column;
  }
}