// ----------------------------
// Results List
// ----------------------------

.top-space {
  margin-top: 1.2rem;
  @media (min-width: $bp-screen-md) {
    margin-top: 2.4rem;
  }
}

.wrap-results {
  margin-bottom: 3rem;
  background-color: $white-t;
  padding: 15px;

  @media (max-width: $bp-screen-md) {
    padding: 0px;
  }
  .no-results {
    margin-left: -15px;
  }

  .no-results + .ask-us {
    margin-top: 0rem;
  }
  
  .results-context {
    margin-top: -15px;
    padding-left: 2.5rem;
    @media (max-width: $bp-screen-md) {
      margin-top: 0;
    }
  }

  .results-list {
    @media (max-width: $bp-screen-md) {
      .result {
        padding-left: 0;
        padding-right: 0;
        margin-left: 3rem;
      }
    }
  }  
}

.results-list.use {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

// --------------------------------------
// Individual Results for GeoData & USE
// --------------------------------------

.result {
  padding: 2rem;
  border-top: 1px solid $brand-primary;
  font-size: $fs-small;
  line-height: 0; /* line height needs to be reset so iOS doesn't act weird */

  &::marker {
    font-size: 2.5rem;
    font-weight: $fw-bold;
  }

  &:hover,
  &:focus {
    background-color: $gray-l4;
  }

  .result-content {
    line-height: 1.2;

    .record-title {
      font-size: 2.5rem;
      line-height: 1.1;
    }

    a:visited {
      color: $brand-secondary;
    }

    .pub-info {
      font-size: $fs-base;
      color:  $gray-d1;
      span:first-child:after {
        content: " | ";
      }
      margin: 1em 0;
    }

    .result-summary {
      margin-bottom: 2.4em;
    }

    .result-highlights {
      margin-top: 1.4em;
      ul {
        list-style: none;
        li {
          margin-left: 2rem;
        }
      }
    }

    .frbr-callout {
      font-size: 1.6rem;
    }
  }

  .result-get,
  .result-record {
    padding-top: 5px;
    a:visited {
      color: $white;
    }

    .availability {
      a:visited {
        color: $brand-secondary;;
      }
    }
  }

  .result-get {
    a:visited {
      background-color: $brand-secondary;
    }

    .availability {
      a:visited {
        background-color: inherit;
      }
    }
  }

  .truncate-list {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .inner-heading {
    font-size: 1.8rem;
    line-height: 1.1;
  }
}

// --------------------------------------
// Individual Results overrides for USE
// --------------------------------------

.result.use, .result.primo {
  padding: 48px 0;
  margin: 0;
  border-bottom: 1px solid $color-gray-400;
  border-top: none;

  &:first-child {
    padding-top: 0;
  }
  
  &:last-child {
    border-bottom: none;
  }

  &:hover,
  &:focus {
    background-color: transparent;
  }

  .eyebrow {
    color: $color-text-secondary;
    font-size: 1.3rem;
    font-weight: $fw-medium;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .record-title {
    font-size: 2.4rem;
    line-height: 1.3;
    margin-bottom: 8px;

    a {
      @include underlinedLinks;
      font-weight: $fw-semibold;     
    }
  }

  .pub-info {
    font-size: $fs-base;
    
    span {
      &::before, &:last-child::before {
        content: " • ";
        color: $color-text-disabled;
      }

      &:first-child::before {
        content: " ";
      }

      // Override the default separator
      &::after, &:first-child::after {
        content: " ";
      }

    }

    margin-bottom: 1em;
    margin-top: 0;
  }

  .result-subjects, .result-summary, .result-container {
    font-size: 1.4rem;
    margin-bottom: 8px;
    color: $color-text-secondary;
  }

  .result-subjects {
    color: $color-text-secondary;

    ul {
    line-clamp: 1;
    -webkit-line-clamp: 1;

      li {
        margin-bottom: 0;

        &::after {
          content: " • ";
          color: $color-text-disabled;
        }

        &:last-child::after {
          content: " ";
        }

      }
    }

  }

  .result-highlights.use {
    margin-top: 0;

    h4, strong {font-weight: $fw-medium;}

    ul {
      list-style: disc outside;
      padding-left: 16px;
      margin-bottom: 0;

      li {
        margin-left: 0.6rem;
        font-size: 1.4rem;
      }
    }
  }

  .highlight {
    background-color: $color-highlight;
  }

  .result-metadata {
    margin-bottom: 16px;
  }

  .pub-info {
    margin-bottom: 4px;
  }

  ul.contributors {
    line-clamp: 1;
    -webkit-line-clamp: 1;
    margin-bottom: 12px;

    li {
      font-weight: $fw-normal;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .inner-heading {
    font-size: 1.6rem;
    font-family: $base-font; // Since we're using 16px, override to use body font
  }

  .result-get {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  // Make result buttons present as underlined links
  a.button {
    @include underlinedLinks;
    font-weight: $fw-medium;
    font-size: 1.6rem;
  }

  // Except the first button, which should present as a secondary button
  .result-get > a.button:first-child {
    @include buttonSecondary;
  }

  // Loading skeleton when a button isn't available
  span.skeleton-loader {
    @include skeleton-loader(112px);
  }

  .truncate-list li:last-child {margin-bottom: 0;}

  .availability {
    color: $color-text-secondary;

    i.fa-check::before {
      color: $color-icon-success;
    }

    i.fa-times::before {
      color: $color-icon-danger;
    }

  }
}

// -------------------------
// NO RESULTS SECTION & PRIMO CONTINUATION - USE
// -------------------------

.no-results-container, .primo-continuation {
  max-width: 840px;

  #callout-wrapper {
    margin-bottom: 0;
  }
}

.no-results.use, .primo-continuation {
  border: 0;
  font-size: 1.6rem;
  line-height: $lh-xloose;
  margin: 0;
  margin-bottom: 2em;

  a {
    @include underlinedLinks;
    font-weight: $fw-medium;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.primo-continuation {
  margin-bottom: 0;

  > p {
    margin-bottom: 32px;
  }
}

// -----------------------------
// Result list and Sidebar - USE
// -----------------------------

#content-wrapper {
  padding-top: 12px;
  padding-bottom: 44px;

  .results-context {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 4px;
  }

  .results-context-description {
    color: $color-text-secondary;
    margin-bottom: 40px;
  }

  #results-section {
    padding: 16px 0 0 0;
  }

  #results-layout-wrapper {
    display: flex;
    gap: 64px;

    #results {
      padding: 0;
      flex-grow: 1;
    }

    #results-sidebar {
      flex: 0 0 360px;

      display: flex;
      flex-direction: column;
      gap: 32px;

      > div {
        display: flex;
        gap: 12px;

        i {
          font-size: 2rem;
          margin-top: 1px;
        }
      }

      @media (max-width: 1140px) {
        flex-basis: 280px;
      }

      p {
        line-height: 1.4;
      }

      a {
        @include underlinedLinks;
        font-weight: $fw-medium;   
      }
    }

    // Put the sidebar below the results when the screen is narrower than 1024px
    @media (max-width: $bp-screen-lg) {
        flex-direction: column;
        gap: 32px;

        // Put the sidebar items side by side when space is available
        #results-sidebar {
          flex-direction: row;
          padding-bottom: 40px;
          gap: 12px;
          flex-basis: auto;

          > div {
            padding-right: 24px;
          }
        }

        #callout-wrapper {
          margin-bottom: 0;
        }
    }

    // Put sidebar items in a column below 768px
    @media (max-width: $bp-screen-md) {
    
      #results-sidebar {
        flex-direction: column;
        gap: 32px;
      }
      
    }
  }

}

// ----------------------------
// Result callout boxes
// ----------------------------

#callout-wrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;

  aside {
    border: 3px solid $color-border-default;
    padding: 20px 24px;    
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    gap: 12px;

    i {
      font-size: 2rem;
      margin-top: 1px;
    }
          
    p {
      line-height: 1.4;
    }

    a {
      @include buttonSecondary;
    }
  }

  @media (max-width: $bp-screen-md) {
    flex-direction: column;
  }
}
