// ------------------------
// #SEARCH BITS
// ------------------------

/* basic search bar */
.basic-search {
  background-color: #989898;
  margin-bottom: 1rem;
  padding: 1.6rem 2rem;

  .field-label {
    color: $black;
    display: block;
    margin-bottom: .8rem;
    font-size: $fs-small;
    font-weight: $fw-normal;
  }

  .basic-search-input {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    margin-bottom: .8rem;
    padding: 6px 12px;

    @media (min-width: $bp-screen-sm) {
      display: inline-block;
      width: 80%;
      margin-bottom: 0;
    }
  }

  .basic-search-submit {
    @media (min-width: $bp-screen-sm) {
      display: inline-block;
      width: 18%;
    }

    .btn {
      border-radius: 0;
      width: 100%;
    }
  }
}
