// ------------------------
// #SEARCH BITS
// ------------------------

/* basic search bar */
.basic-search {
  background-color: #989898;
  margin-bottom: 0rem;
  padding: 2.4rem 2rem 1rem 2.4rem;

  details {
    &:first-of-type {
      margin-top: 1rem;
    }

    .field-container {
      margin-top: 1rem;
    }
  }

  .field-label {
    color: $black;
    display: block;
    margin-bottom: .25rem;
    font-size: $fs-small;
    font-weight: $fw-normal;
  }

  .basic-search-input,
  summary {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    margin-bottom: .8rem;
    padding: 6px 12px;

    @media (min-width: $bp-screen-md) {
      display: inline-block;
      width: 65%;
      margin-bottom: 0;
    }
  }

  summary {
    pointer: arrow;

    #advanced-search-label,
    #geobox-search-label,
    #geodistance-search-label {
      &::before {
        font-family: FontAwesome;
        margin-right: 1rem;
      }

      &.closed:before {
        content: '\f054';
      }

      &.open:before {
        content: '\f078';
      }
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  #advanced-search-panel,
  #geobox-search-panel,
  #geodistance-search-panel {
    fieldset {
      legend {
        color: $black;
      }
    }
  }

  #geobox-search-panel,
  #geodistance-search-panel {
    .geo-label,
    .geo-desc,
    .hint,
    p {
      display: block;
      color: $black;
      font-size: $fs-small;
    }
    .geo-label {
      font-weight: $fw-bold;
      &:after {
        content: ' *';
      }
    }
    .geo-desc {
      margin-bottom: 2rem;
    }
    #maxLat-desc,
    #maxLong-desc,
    #distance-desc {
        margin-bottom: 0rem;
    }
    @media (max-width: $bp-screen-md) {
      #maxLat-desc,
      #maxLong-desc,
      #distance-desc {
        margin-bottom: 2rem;
      }
    }
  }

  .basic-search-submit {
    .button-secondary {
      background-color: $white;
      &:hover,
      &:focus {
        background-color: $blue;
      }
    }
    .btn {
      border-radius: 0;
      width: 100%;
      &:last-child {
        margin-top: 0.4rem;
      }
    }
    @media (min-width: $bp-screen-md) {
      display: inline-block;
      width: 34%;
      .btn {
        width: 49%;
        margin-top: 0;
      }
    }
  }
}

/* about section */
.about {
  margin-top: 5rem;
}
