/* ============================ */
/* Source Tab Bar in USE Search */
/* ============================ */

#tabs {
  margin-top: 0;
  position: relative;

  // Graceful degradation when JS is not enabled
  &:not(.has-js) {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;  
  }

  // Display styles for the main tab bar
  ul.primary {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 4px;
  }

  li {

    &.--hidden {
      display: none;
    }

  }

  a, button {
    padding: 12px 20px 16px;
    background-color: transparent;
    display: inline-block;
    border: 2px solid transparent;
    border-bottom: 0;  
    white-space: nowrap;

    @include searchUnderlinedLinks;

    &:hover {
      border-color: $color-gray-700;
      background-color: $color-gray-900;
      color: $color-text-oncolor;
    }

    &.active {
      background-color: $color-white;
      color: $color-text-primary;
      text-decoration: none;

      &:hover {
        color: $color-text-primary;
        border-color: transparent;
      }
    }

  }

  // Swap the icon to chevron-up when menu is open
  button[aria-expanded="true"] {
  
    i::before {
      content: '\f077';
    }

  }

  // Display styles for the dropdown menu under the "More" button
  ul.-secondary {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 999;

    li {
      width: 100%;

      a {
        background-color: $color-gray-950;
        width: 100%;

        &.active {
          @include searchUnderlinedLinks;
        }

        &:hover {
          border-color: $color-gray-950;
          background-color: $color-gray-900;
        }
      }

    }

  }

  &.--show-secondary .-secondary {
    display: block;
  }

}