.hd-1 {
  font-size: $fs-xxxxlarge;
  font-weight: $fw-bold;
  line-height: $lh-xtight;
}

.hd-2 {
  font-size: $fs-xxlarge;
  font-weight: $fw-bold;
  line-height: $lh-xtight;
}

.hd-3 {
  font-size: $fs-xlarge;
  font-weight: $fw-bold;
  line-height: $lh-xtight;
}

.hd-4 {
  line-height: $lh-xtight;
}

.hd-5 {
  line-height: $lh-xtight;
}

.hd-6 {
  line-height: $lh-xtight;
}
