// ----------------------------
// #COLOR
// ----------------------------



// GRAY
$color-gray-100: #F2F2F2;
$color-gray-200: #e6e6e6;
$color-gray-300: #ccc;
$color-gray-400: #b3b3b3;
$color-gray-500: #999 ;
$color-gray-700: #666;
$color-gray-900: #333;
$color-gray-950: #1a1a1a;
$color-gray-975: #191919;

// RED
$color-red-300: #FF6666;
$color-red-400: #FF3333;
$color-red-500: #ff0000;
$color-red-600: #e50000;

// YELLOW
$color-yellow-500: #FFD700;

// CYAN
$color-cyan-500: #00C8FF;
$color-cyan-700: #00A0CC;

// BLUE
$color-blue-25: #F0F0FF;
$color-blue-500: #0000FF;

// PURPLE
$color-purple-700: #990099;

// GREEN
$color-green-800: #009900;

// ---------------
// SEMANTIC COLORS

$color-black: #000;
$color-white: #fff;

// TEXT
$color-text-primary: $color-gray-950;
$color-text-secondary: $color-gray-700;
$color-text-placeholder: $color-gray-500;
$color-text-disabled: $color-gray-400;
$color-text-oncolor: $color-white;

// ICONS
$color-icon-success: $color-green-800;
$color-icon-danger: $color-red-500;

// BORDERS
$color-border-default: $color-gray-400;

// FOCUS
$color-focus: $color-cyan-700;
$color-focus-dark: $color-cyan-500;

// SUGGESTION
$color-suggestion-border: $color-purple-700;
$color-suggestion-accent-text: $color-purple-700;

// HIGHLIGHT
$color-highlight: $color-yellow-500;

// ----------------------------
// #TYPOGRAPHY
// ----------------------------

// Font family definitions
$base-font: neue-haas-grotesk-text, "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font sizes, weights, and line heights
// 1 rem is 10 px...
$fs-base:      1.6rem; // Pentagram originally specified 1.4
$fs-xlarge:    2.4rem;
$fs-xxlarge:   3.2rem;
$fs-xxxlarge:  4.2rem; // unused by default
$fs-xxxxlarge: 5.2rem;

$fw-normal:   400;
$fw-medium:   500;
$fw-semibold: 600;
$fw-bold:     700;

$lh-xtight: 0.92;
$lh-base:   1.2;
$lh-xloose: 1.5;

// ----------------------------
// #LAYOUT
// ----------------------------

// Container max-width
$container-max-width: 1280px;

// Additional breakpoints over mitlib-style
$bp-screen-xs: 410px;

// Left/Right Edge Padding
$edge-padding-desktop: 32px;
$edge-padding-tablet: 24px;
$edge-padding-phone: 16px;