// ----------------------------
// #TYPOGRAPHY
// ----------------------------

// Font family definitions
$base-font: neue-haas-grotesk-text, "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font sizes, weights, and line heights
// 1 rem is 10 px...
$fs-base:      1.6rem; // Pentagram originally specified 1.4
$fs-xlarge:    2.4rem;
$fs-xxlarge:   3.2rem;
$fs-xxxlarge:  4.2rem; // unused by default
$fs-xxxxlarge: 5.2rem;

$fw-normal: 400;
$fw-semibold: 600;
$fw-bold:   700;

$lh-xtight:  .92;
$lh-tight: 1.1;
$lh-base:   1.2;
$lh-loose: 1.35;
$lh-xloose: 1.5;
$lh-xxloose: 1.6;