body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// Things I don't know how to classify yet. Ideally this will be empty.
.top-line {
  border-top: 1px solid #000;
}

.top-attached {
  margin-top: 0;
}

.top-space {
  margin-top: 2.4rem;
}

#advanced-search-panel legend {
  color: #000
}
