<% if AlmaSru.enabled? && @availability.present? %>
  <div class="availability">
    <% @availability.each do |statement| %>
      <%= link_to(statement, "#{PrimoLinkBuilder.new(record_id: params[:doc_id], context: 'L').full_record_link}#getit_link1_0", data: {content_piece: 'Availability Link' }) %><br>
    <% end %>
  </div>
<% end %>
