<div class="wrap-outer-header-local layout-band">
  <div class="wrap-header-local">
    <div class="local-identity">
      <h2 class="title title-site"><a href="/"><%= t('.app_name') %></a></h2>
    </div>
    <div class="wrap-local-nav">
      <div class="wrap-bar">
        <nav class="local-nav" aria-label="Main menu">
          <%= nav_link_to(t('.home'), root_path) %>
        </nav>
      </div>
    </div>
  </div>
</div>
