<% if ThirdIron.enabled? && @browzine.present? %>
  <% if @browzine[:browzine_link].present? %>
    <div class="libkey-actions">
      <%= link_to @browzine[:browzine_link][:text], @browzine[:browzine_link][:link], class: 'button libkey-link' %>
    </div>
  <% end %>
<% end %>
